In [1]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [2]:
pd.__version__

'2.0.3'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', nrows=100, compression='gzip')

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
engine = create_engine('postgresql://postgres:postgres148@localhost:5432/dataengineering-learning')
engine.connect()

In [6]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data_2021_01', con=engine))

CREATE TABLE yellow_taxi_data_2021_01 (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [7]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', iterator=True, chunksize=1000000)

In [8]:
df = next(df_iter)

In [9]:
len(df)

1000000

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [11]:
df.head(n=0).to_sql(name='yellow_taxi_data_2021_01', con=engine, if_exists='replace')

0

In [12]:
%time df.to_sql(name='yellow_taxi_data_2021_01', con=engine, if_exists='append')

CPU times: user 20.5 s, sys: 1.32 s, total: 21.9 s
Wall time: 48.2 s

1000

In [13]:
while True:
    try:
        t_start = time()
        
        df = next(df_iter)
    
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
        df.to_sql(name='yellow_taxi_data_2021_01', con=engine, if_exists='append')
    
        t_end = time()
        print('insert another chunk..., took %.3f second' % (t_end - t_start))
    except StopIteration:
        break

AttributeError: 'DataFrame' object has no attribute 'iter'