In [1]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [2]:
pd.__version__

'2.0.3'

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-20 20:05:20--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240121T040515Z&X-Amz-Expires=300&X-Amz-Signature=acecb4f498e45cfbde9d7923272d2571cf3989eed726b27030571fada782bdd2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-20 20:05:21--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240121T040515Z&X-Amz-Expires=300&X-Amz-Signature=acecb4f498e45cfbde9d7923272d2571cf3989eed726b27030571fada782bdd2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz.1’

green_tripdata_2019 100%[===================>]   7.49M  37.7MB/s    in 0.2s

2024-01-20 20:05:21 (37.7 MB/s) - ‘green_tripdata_2019-09.csv.gz.1’ saved [7854533/7854533]

In [4]:
engine = create_engine('postgresql://postgres:postgres148@localhost:5432/dataengineering-learning')
engine.connect()

In [5]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip', nrows=10)

In [6]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               10 non-null     int64
 1   lpep_pickup_datetime   10 non-null     datetime64[ns]
 2   lpep_dropoff_datetime  10 non-null     datetime64[ns]
 3   store_and_fwd_flag     10 non-null     object
 4   RatecodeID             10 non-null     int64
 5   PULocationID           10 non-null     int64
 6   DOLocationID           10 non-null     int64
 7   passenger_count        10 non-null     int64
 8   trip_distance          10 non-null     float64
 9   fare_amount            10 non-null     float64
 10  extra                  10 non-null     float64
 11  mta_tax                10 non-null     float64
 12  tip_amount             10 non-null     float64
 13  tolls_amount           10 non-null     float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  10 non-null     float64
 16  total_amount           10 non-null     float64
 17  payment_type           10 non-null     int64
 18  trip_type              10 non-null     int64
 19  congestion_surcharge   10 non-null     int64
dtypes: datetime64[ns](2), float64(9), int64(8), object(1)
memory usage: 1.7+ KB

In [8]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0

In [9]:
print(pd.io.sql.get_schema(df, name='green_taxi_data_2019_09', con=engine))

CREATE TABLE green_taxi_data_2019_09 (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge BIGINT
)

In [10]:
df.count()

VendorID                 10
lpep_pickup_datetime     10
lpep_dropoff_datetime    10
store_and_fwd_flag       10
RatecodeID               10
PULocationID             10
DOLocationID             10
passenger_count          10
trip_distance            10
fare_amount              10
extra                    10
mta_tax                  10
tip_amount               10
tolls_amount             10
ehail_fee                 0
improvement_surcharge    10
total_amount             10
payment_type             10
trip_type                10
congestion_surcharge     10
dtype: int64

In [11]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip', iterator=True, chunksize=10000)

In [12]:
df = next(df_iter)
len(df)

10000

In [13]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [14]:
df.head(n=0).to_sql(name='green_taxi_data_2019_09', con=engine, if_exists='replace')

0

In [15]:
df.to_sql(name='green_taxi_data_2019_09', con=engine, if_exists='append')

1000

In [16]:
while True:
    try:
        t_start = time()
        
        df = next(df_iter)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name='green_taxi_data_2019_09', con=engine, if_exists='append')
    
        t_end = time()
        print('insert another chunk..., took %.3f second' % (t_end - t_start))
    except StopIteration:
        break

insert another chunk..., took 0.535 second
insert another chunk..., took 0.503 second
insert another chunk..., took 0.524 second
insert another chunk..., took 0.510 second
insert another chunk..., took 0.498 second
insert another chunk..., took 0.519 second
insert another chunk..., took 0.589 second
insert another chunk..., took 0.498 second
insert another chunk..., took 0.553 second
insert another chunk..., took 0.501 second
insert another chunk..., took 0.490 second
insert another chunk..., took 0.516 second
insert another chunk..., took 0.502 second
insert another chunk..., took 0.488 second
insert another chunk..., took 0.515 second
insert another chunk..., took 0.485 second
insert another chunk..., took 0.482 second
insert another chunk..., took 0.482 second
insert another chunk..., took 0.508 second
insert another chunk..., took 0.480 second
insert another chunk..., took 0.483 second
insert another chunk..., took 0.510 second
insert another chunk..., took 0.489 second
insert another chunk..., took 0.502 second
insert another chunk..., took 0.511 second
insert another chunk..., took 0.499 second
insert another chunk..., took 0.486 second
insert another chunk..., took 0.534 second
insert another chunk..., took 0.490 second
insert another chunk..., took 0.494 second
insert another chunk..., took 0.506 second
insert another chunk..., took 0.494 second
insert another chunk..., took 0.501 second
insert another chunk..., took 0.516 second
insert another chunk..., took 0.493 second
insert another chunk..., took 0.501 second
insert another chunk..., took 0.552 second
insert another chunk..., took 0.525 second
insert another chunk..., took 0.474 second
insert another chunk..., took 0.465 second
insert another chunk..., took 0.441 second
insert another chunk..., took 0.437 second
insert another chunk..., took 0.456 second
insert another chunk..., took 0.392 second