# Homework: Data talks club data engineering zoomcamp Data loading workshop

Question 1. What is the sum of the outputs of the generator for limit = 5? (1 point)

In [1]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

generator = square_root_generator(5)
values = []
for n_sqrt in generator:
    values.append(n_sqrt)
    print(n_sqrt)


print(f'The sum is {sum(values)}')

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
The sum is 8.382332347441762

Question 2: What is the 13th number yielded by the generator?

In [2]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

generator = square_root_generator(14)
count = 1
for n_sqrt in generator:
    if count == 13:
        print('13th number', n_sqrt)
    count +=1

13th number 3.605551275463989

Question 3: Append the 2 generators. After correctly appending the data, calculate the sum of all ages of people.

In [3]:
%pip install -U dlt duckdb

Requirement already satisfied: dlt in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.4.4)
Requirement already satisfied: duckdb in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.10.0)
Requirement already satisfied: PyYAML>=5.4.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (6.0)
Requirement already satisfied: SQLAlchemy>=1.4.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (1.4.46)
Requirement already satisfied: astunparse>=1.6.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (1.6.3)
Requirement already satisfied: click>=7.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (8.1.3)
Requirement already satisfied: fsspec>=2022.4.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (2024.2.0)
Requirement already satisfied: gitpython>=3.1.29 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (3.1.42)
Requirement already satisfied: giturlparse>=0.10.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (0.12.0)
Requirement already satisfied: hexbytes>=0.2.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (1.0.0)
Requirement already satisfied: humanize>=4.4.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (4.9.0)
Requirement already satisfied: jsonpath-ng>=1.5.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (1.6.1)
Requirement already satisfied: makefun>=1.15.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (1.15.2)
Requirement already satisfied: orjson<=3.9.10,>=3.6.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (3.9.10)
Requirement already satisfied: packaging>=21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (23.1)
Requirement already satisfied: pathvalidate>=2.5.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (3.2.0)
Requirement already satisfied: pendulum>=2.1.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (2.1.2)
Requirement already satisfied: pytz>=2022.6 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (2023.3)
Requirement already satisfied: requests>=2.26.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (2.28.2)
Requirement already satisfied: requirements-parser>=0.5.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (0.5.0)
Requirement already satisfied: semver>=2.13.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (3.0.2)
Requirement already satisfied: setuptools>=65.6.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (66.1.1)
Requirement already satisfied: simplejson>=3.17.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (3.19.2)
Requirement already satisfied: tenacity>=8.0.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (8.2.2)
Requirement already satisfied: tomlkit>=0.11.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (0.12.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (4.4.0)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dlt) (2023.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from astunparse>=1.6.3->dlt) (0.42.0)
Requirement already satisfied: six<2.0,>=1.6.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from astunparse>=1.6.3->dlt) (1.16.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from gitpython>=3.1.29->dlt) (4.0.11)
Requirement already satisfied: ply in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from jsonpath-ng>=1.5.3->dlt) (3.11)
Requirement already satisfied: python-dateutil<3.0,>=2.6 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pendulum>=2.1.2->dlt) (2.8.2)
Requirement already satisfied: pytzdata>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pendulum>=2.1.2->dlt) (2020.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests>=2.26.0->dlt) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests>=2.26.0->dlt) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests>=2.26.0->dlt) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests>=2.26.0->dlt) (2022.12.7)
Requirement already satisfied: types-setuptools>=57.0.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requirements-parser>=0.5.0->dlt) (69.1.0.20240217)
Requirement already satisfied: smmap<6,>=3.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt) (5.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import dlt
import duckdb

def people1():
    for i in range(1, 6):
        yield { 'ID': i, 'Name': f'Person_{i}', 'Age': 25 + i, 'City': 'City_A'}

for person in people1():
    print(person)

pipeline = dlt.pipeline(destination='duckdb', dataset_name='people_dataset')
load_info = pipeline.run(people1(), table_name="persons", write_disposition="replace")
print(load_info)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
Pipeline dlt_ipykernel_launcher load step completed in 0.22 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_dataset
The duckdb destination used duckdb:////Users/iamraphson/instinct-seekers/open-source/DE-zoom-camp-2024/week4/4_dlt_workshop/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708492132.68431 is LOADED and contains no failed jobs

In [5]:
connection = duckdb.connect(f'{pipeline.pipeline_name}.duckdb')
connection.sql(f"SET search_path = '{pipeline.dataset_name}'")

print(f'Tables: \n{connection.sql("show tables")}')
connection.sql("select * from persons").df()

Tables:
┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ persons             │
└─────────────────────┘

   id      name  age    city      _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1708492132.68431  mcGo1JXGUcwsqw       None
1   2  Person_2   27  City_A  1708492132.68431  1eZgp8i1XdWDRQ       None
2   3  Person_3   28  City_A  1708492132.68431  ESGIDz/aijVM3w       None
3   4  Person_4   29  City_A  1708492132.68431  ibaqdwuYW1FN8A       None
4   5  Person_5   30  City_A  1708492132.68431  GSwjYHMCrc66HQ       None

In [6]:
#sum of the 1st generator

sum_of_ages = 0
for person in people1():
    sum_of_ages += person['Age']

print('Sum of age from 1st generator', sum_of_ages)

Sum of age from 1st generator 140

In [7]:
def people2():
    for i in range(3, 9):
        yield { 'ID': i, 'Name': f'Person_{i}', 'Age': 30 + i, 'City': 'City_B', 'Occupation': f'Job_{i}'}

load_info = pipeline.run(people2(), table_name="persons", write_disposition="append")
print(load_info)

Pipeline dlt_ipykernel_launcher load step completed in 0.18 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_dataset
The duckdb destination used duckdb:////Users/iamraphson/instinct-seekers/open-source/DE-zoom-camp-2024/week4/4_dlt_workshop/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708492133.478368 is LOADED and contains no failed jobs

In [8]:
connection = duckdb.connect(f'{pipeline.pipeline_name}.duckdb')
connection.sql(f"SET search_path = '{pipeline.dataset_name}'")

print(f'Tables: \n{connection.sql("show tables")}')
connection.sql("select * from persons").df()

Tables:
┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ persons             │
└─────────────────────┘

    id      name  age    city       _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A   1708492132.68431  mcGo1JXGUcwsqw       None
1    2  Person_2   27  City_A   1708492132.68431  1eZgp8i1XdWDRQ       None
2    3  Person_3   28  City_A   1708492132.68431  ESGIDz/aijVM3w       None
3    4  Person_4   29  City_A   1708492132.68431  ibaqdwuYW1FN8A       None
4    5  Person_5   30  City_A   1708492132.68431  GSwjYHMCrc66HQ       None
5    3  Person_3   33  City_B  1708492133.478368  kX5M6urAdKvb3A      Job_3
6    4  Person_4   34  City_B  1708492133.478368  4okx1hnGTAfrww      Job_4
7    5  Person_5   35  City_B  1708492133.478368  jrEAHjNCc18EEQ      Job_5
8    6  Person_6   36  City_B  1708492133.478368  vJbKKJTkEM07/w      Job_6
9    7  Person_7   37  City_B  1708492133.478368  hhWSN6p9hhs58Q      Job_7
10   8  Person_8   38  City_B  1708492133.478368  sDplsZWyt+OMnA      Job_8

In [9]:
connection.sql(' SELECT SUM("age") as sum_of_ages FROM persons').df()

   sum_of_ages
0        353.0

Question 4: Merge the 2 generators using the ID column. Calculate the sum of ages of all the people loaded as described above.

In [10]:
for person in people1():
    print(person)

pipeline4 = dlt.pipeline(destination='duckdb', dataset_name='citizens')
load_info4 = pipeline4.run(people1(), table_name="members", write_disposition="replace", primary_key='id')
print(load_info4)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
Pipeline dlt_ipykernel_launcher load step completed in 0.18 seconds
1 load package(s) were loaded to destination duckdb and into dataset citizens
The duckdb destination used duckdb:////Users/iamraphson/instinct-seekers/open-source/DE-zoom-camp-2024/week4/4_dlt_workshop/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708492135.284978 is LOADED and contains no failed jobs

In [11]:
connection = duckdb.connect(f'{pipeline4.pipeline_name}.duckdb')
connection.sql(f"SET search_path = '{pipeline4.dataset_name}'")

print(f'Tables: \n{connection.sql("show tables")}')
connection.sql("select * from members").df()

Tables:
┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ members             │
└─────────────────────┘

   id      name  age    city       _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1708492135.284978  +OsTEDuqjEbabw       None
1   2  Person_2   27  City_A  1708492135.284978  Qqz7juvm3zTiCg       None
2   3  Person_3   28  City_A  1708492135.284978  mPYdsRS0FHXzWg       None
3   4  Person_4   29  City_A  1708492135.284978  VSf3EapxzabIIg       None
4   5  Person_5   30  City_A  1708492135.284978  ypAtXNSY1R3kbA       None

In [12]:
for person in people2():
    print(person)

load_info4 = pipeline4.run(people2(),
                        table_name="members",
                        write_disposition="merge",
                        primary_key='id')

print(load_info)

{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}
Pipeline dlt_ipykernel_launcher load step completed in 0.18 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_dataset
The duckdb destination used duckdb:////Users/iamraphson/instinct-seekers/open-source/DE-zoom-camp-2024/week4/4_dlt_workshop/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708492133.478368 is LOADED and contains no failed jobs

In [13]:
connection = duckdb.connect(f'{pipeline4.pipeline_name}.duckdb')
connection.sql(f"SET search_path = '{pipeline4.dataset_name}'")

print(f'Tables: \n{connection.sql("show tables")}')
connection.sql("select * from members").df()

Tables:
┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ members             │
└─────────────────────┘

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A   1708492135.284978  +OsTEDuqjEbabw       None
1   2  Person_2   27  City_A   1708492135.284978  Qqz7juvm3zTiCg       None
2   7  Person_7   37  City_B  1708492139.6964438  xUgk+qIDUe0K2Q      Job_7
3   3  Person_3   33  City_B  1708492139.6964438  MVjzmULeba9BHg      Job_3
4   6  Person_6   36  City_B  1708492139.6964438  wjkcJvz8BSKy7g      Job_6
5   4  Person_4   34  City_B  1708492139.6964438  MXua84juVEfi3g      Job_4
6   5  Person_5   35  City_B  1708492139.6964438  yE/o5ggWtU5cxw      Job_5
7   8  Person_8   38  City_B  1708492139.6964438  lnVELyTRkJzxoA      Job_8

In [14]:
connection.sql(' SELECT SUM("age") as sum_of_ages FROM members').df()

   sum_of_ages
0        266.0